
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  /* overlay animate in */
  .mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
  }

  /* overlay animate out */
  .mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
  }

  /* content at start */
  .mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;

    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
  }

  /* content animate it */
  .mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }

  /* content animate out */
  .mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }

  .white-popup {
    position: relative;
    background: #fff;
    padding: 20px;
    width: auto;
    max-width: 900px;
    margin: 20px auto;
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='text'],
  #oid-form input[type='email'],
  #oid-form textarea {
    width: 100%;
    padding: 12px 0px;
    /* margin: 8px 0; */
    display: block;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='text'].numbering {
    padding: 12px 5px !important;
  }

  #oid-form select {
    width: 100%;
    padding: 12px 5px;
    /* margin: 8px 0; */
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='date'] {
    background-color: #fff;
    width: 100%;
    padding: 12px 5px;
    /* margin: 8px 0; */
    display: inline-block;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='tel'] {
    width: 100%;
    padding: 12px 20px;
    /* margin: 8px 0; */
    display: inline-block;
    border: 1px solid #ccc;
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='text']::-webkit-input-placeholder,
  #oid-form input[type='email']::-webkit-input-placeholder,
  #oid-form textarea::-webkit-input-placeholder {
    font-family: var(--font-inter-light);
  }

    #oid-form input[type='text']:-ms-input-placeholder,
    #oid-form input[type='email']:-ms-input-placeholder
    #oid-form textarea:-ms-input-placeholder {
    font-family: var(--font-inter-light);
  }

    #oid-form input[type='text']:-moz-placeholder,
    #oid-form input[type='email']:-moz-placeholder
    #oid-form textarea:-moz-placeholder {
    font-family: var(--font-inter-light);
  }

    #oid-form input[type='text']::-moz-placeholder,
    #oid-form input[type='email']::-moz-placeholder
    #oid-form textarea::-moz-placeholder {
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='tel']::-webkit-input-placeholder {
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='tel']:-ms-input-placeholder {
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='tel']:-moz-placeholder {
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='tel']::-moz-placeholder {
    font-family: var(--font-inter-light);
  }

  #oid-form input[type='text']:focus,
  input[type='text']:hover,
  #oid-form input[type='email']:focus,
  input[type='email']:hover ,
  #oid-form textarea:focus,
  textarea:hover  {
    outline: 0;
    border-radius: 0;
  }

  #oid-form input[type='tel']:focus,
  input[type='text']:hover {
    border-radius: 0;
    outline: 0;
  }
/*
  #oid-form input[type='radio'],
  #oid-form input[type='checkbox'] {
    margin-top: 1.0em;
    transform: scale(1.3);
    padding: 0.4em;
    -webkit-appearance: none;
    outline: 0.1em solid #E02419;
    outline-offset: 0.1em;
  }

  #oid-form input[type='radio']:checked,
  #oid-form input[type='checkbox']:checked {
    display: inline-block;
    background-color: #E02419;
  } */

  .form-check-input:checked{
    background-color: #E02419;
    border-color: #E02419;
  }

  #oid-form select {
    padding: 0 0.5em 0.2em 0;
    border: 1px solid #ccc;
    font-family: var(--font-inter-medium);
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
  }

  #oid-form select:focus,
  select:hover {
    border-radius: 0;
    outline: 0;
  }
